2025-2026/data/resultats_extractions_seances/evenements_bruts.csv
2025-2026/data/resultats_extractions_seances/graphe_individus.graphml
2025-2026/data/resultats_extractions_seances/graphe_individus.gexf
